.DS_Store
ANITA_Hobart_FEB2017/data/.DS_Store
ANITA_Hobart_FEB2017/.DS_Store
ANITA_Hobart_FEB2017/data/yearly_files
ANITA_Hobart_FEB2017/scripts/.DS_Store
ANITA_Hobart_FEB2017/scripts/.ipynb_checkpoints/
Pawsey_Roadshow_MAR2017/data/.DS_Store
Pawsey_Roadshow_MAR2017/.DS_Store
Pawsey_Roadshow_MAR2017/data/yearly_files
Pawsey_Roadshow_MAR2017/scripts/.DS_Store
Pawsey_Roadshow_MAR2017/.ipynb_checkpoints/
Pawsey_Roadshow_MAR2017/.ipynb_checkpoints/Intro_to_pandas-checkpoint.ipynb
Pawsey_Roadshow_MAR2017/.ipynb_checkpoints/Intro_to_pandas_answers-checkpoint.ipynb
